--index-url https://download.pytorch.org/whl/cu124
--extra-index-url https://download.pytorch.org/whl/cpu
--extra-index-url https://pypi.tuna.tsinghua.edu.cn/simple
--extra-index-url https://pypi.org/simple

# ====== pytorch ======
torch==2.5.0
torchvision==0.20.0

# ====== yolov5 dependencies ======
opencv-python
PyYAML
requests
tqdm
pandas

# onnxruntime
onnxruntime==1.18.0

# openvino
openvino==2024.1.0

# tensorrt
tensorrt==10.0.1
cuda-python==12.5.0



# ===== tracking =====
# lapx
# cython_bbox
